<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem suscipit laborum neque ipsam iste earum, delectus animi, deleniti laboriosam, quod eveniet. Maiores doloremque vel, praesentium minima enim corrupti earum et?</p>

<%= simple_form_for @post, url: '/pages/save' do |f| %>
  <%= f.input :description, as: :text %>
  <%= f.button :submit %>
<% end %>
